body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111010;
}
#todo-container {
    max-width: 700px;
    min-height: 300px;
    margin: 20px auto;
    background-color: hsl(0, 38%, 94%);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(238, 235, 235, 0.1);
    padding: 20px;
}
#todo-container h1 {
    text-align: center;
}
